@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:wght@300&family=Montserrat:wght@300&family=Nabla&display=swap');

@font-face {
    font-family: 'pokemon';
    src: url(fonts/Pokemon\ Hollow.ttf) format('truetype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html body{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to top, #ffffff9c, #b5e5ffbc);
    background: url(imagens/fundo03.jpg);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
   text-align: center;
   width: 40%;
   margin: 0 auto;
   margin-top: -75px;
   margin-bottom: -45px;
}

.poke-principal h2.Nome{
    color: white;
    font-family: monospace;
}

.poke-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
}

.poke-principal{
    width: 200px;
    height: 300px;
    margin: 5px 2px;
    padding: 20px;
    text-align: center;
    border: 1px solid #3333335d;
    border-radius: 10px;
    box-shadow: 0 1px 15px #80808095;
    background: linear-gradient(to right, #00800046, #9fff9f7a);
    border-top: 5px solid #333333bd;
    border-bottom: 5px solid #333333bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.poke-principal:hover{
    transform: translateY(-10px) rotate(3deg);
    box-shadow: 0 10px 20px #00000097;
}

.poke-imagem{
    box-shadow: 0 1px 15px #00000014;
    border-radius: 5%;
    background-color: #ffffff34;
    width: 90%;
}

img{
    max-width: 90%;
}

.poke-info{
    margin-top: 20px;
    color: whitesmoke;
    font-weight: normal;
}

.terra{
   background-color: maroon;
}

.fogo{
   background-color: orangered;
}

.agua{
   background-color: #1208af;
}

.inseto{
   background-color: #57ac01;
}

.grama{
   background-color: #006400;
}

.veneno{
   background-color: #993399;
}

.voador{
   background-color: rgb(125, 51, 51);
}

.raio{
   background-color: #ffff16;
}

.fada{
   background-color: #ff667d;
}

.poke-info >h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    margin-bottom: 20px;
}

.poke-info >small{
    font-size: .8rem;
    font-family: 'Lato',sans-serif;
}

.page {
    display: none;
  }

.page:active{
    display: block;
}

footer{
    width: 70%;
    background-color: #00000086;
    color: #fff;
    padding: 10px;
    margin: 50px auto 10px auto;
    line-height: 1.1em;
    border-radius: 5px;
    border: 2px solid rgba(85, 255, 85, 0.114);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer button{
    border: none;
    outline: none;
    background-color: #333333a1;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

footer button:hover{
    font-weight: bold;
}

footer,#anterior{
   padding-left: 50px;
}

footer,#proximo{
    padding-right: 50px;
}

footer .esquerda{
    font-size: 2em;
    color: #ffffff61;
    position: absolute;
    top: 10px;
    left: 20%;
}

footer .direita{
    font-size: 2em;
    color: #ffffff61;
    position: absolute;
    top: 10px;
    right: 20%;
}

/*----------media screen-------------------*/

@media screen and (max-width: 860px) {
    h1 {
        width: 40%;
        margin: 0 auto;
        margin-top: -35px;
        margin-bottom: -25px;
     }

    footer .esquerda{
        top: 8px;
        left: 11%;
    }
    
    footer .direita{
        top: 8px;
        right: 11%;
    }
}

@media screen and (max-width: 460px) {
    h1 {
        width: 60%;
        margin: 0 auto;
        margin-top: -20px;
        margin-bottom: -5px;
    }

    .poke-container{
        max-width: 200px;
    }

    .poke-principal{
        padding: 10px;
    }

    footer{
        width: 100vw;
    }

    footer,#anterior{
        padding-left: 10px;
     }
     
     footer,#proximo{
         padding-right: 10px;
     }

     footer .esquerda{
        left: 28%;
    }
    
    footer .direita{
        right: 28%;
    }
}
