@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:wght@300&family=Montserrat:wght@300&family=Nabla&display=swap');

@font-face {
    font-family: 'pokemon';
    src: url(fonts/Pokemon\ Hollow.ttf) format('truetype');
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html body{
    min-height: 100%;
    width: 100%;
    background: linear-gradient(to top, #ffffffc5, #84d4ff);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    color: #333;
    font-family: 'pokemon',sans-serif;
    text-shadow: 3px 3px 2px rgba(255,255,255,0.15);
}

.poke-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
}

.poke-principal{
    width: 200px;
    height: 300px;
    margin: 5px 2px;
    padding: 20px;
    text-align: center;
    border: 1px solid #3333335d;
    border-radius: 10px;
    box-shadow: 0 1px 15px #80808095;
    background: linear-gradient(to right, #00800046, #9fff9f7a);
    border-top: 5px solid #333333bd;
    border-bottom: 5px solid #333333bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.poke-principal:hover{
    transform: translateY(-10px) rotate(3deg);
    box-shadow: 0 10px 20px #00000097;
}

.poke-imagem{
    box-shadow: 0 1px 15px #00000014;
    border-radius: 5%;
    background-color: #ffffff34;
    width: 90%;
}

img{
    max-width: 90%;
}

.poke-info{
    margin-top: 20px;
}

.poke-info >h2{
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    margin-bottom: 20px;
}

.poke-info >small{
    font-size: .8rem;
    font-family: 'Lato',sans-serif;
}

.page {
    display: none;
  }

.page:active{
    display: block;
}

footer{
    width: 70%;
    background-color: #00000016;
    color: #fff;
    padding: 10px;
    margin: 50px auto 10px auto;
    line-height: 1.1em;
    border-radius: 5px;
    border: 2px solid rgba(85, 255, 85, 0.114);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer button{
    border: none;
    outline: none;
    background-color: #33333379;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

footer button:hover{
    font-weight: bold;
}

footer,#anterior{
   padding-left: 50px;
}

footer,#proximo{
    padding-right: 50px;
}

footer .esquerda{
    font-size: 2em;
    color: #33333379;
    position: absolute;
    top: 10px;
    left: 20%;
}

footer .direita{
    font-size: 2em;
    color: #33333379;
    position: absolute;
    top: 10px;
    right: 20%;
}


